{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="span">
                {% for error in errors %}
                    <span class="label label-important">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}
